# Node modules & dependencies
node_modules/
dist/
build/
.cache/

# Environment variables
.env
.env.local
.env.production

# Database & SQLite
*.db
*.db-journal
*.dump

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db
